@font-face {
    font-family: 'salsa';
    src: url("../fonts/salsa-regular.ttf") format("truetype"),
    		 url('../fonts/salsa-regular-webfont.woff2') format('woff2'),
         url('../fonts/salsa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: 'pacifico';
    src: url("../fonts/pacifico.ttf") format("truetype"),
    		 url('../fonts/pacifico.woff2') format('woff2'),
         url('../fonts/pacifico.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courgette';
    src: url("../fonts/courgette-regular.ttf") format("truetype"),
    		 url('../fonts/courgette-regular-webfont.woff2') format('woff2'),
         url('../fonts/courgette-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/

body {
	font-size: 16px;
	line-height: 16px;
	position: relative;
	font-family: 'salsa', cursive;
	/*
	font-family: 'pacifico', cursive;
	font-family: 'courgette', cursive;
	*/
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

/* Menu */
.navbar-default {
	height: auto;
	margin-bottom: 0;
	background-color: white;
	border: 0;
	border-bottom: 1px;
}

.navbar-brand {
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	line-height: 1.563em;
	font-size: 1em;
	color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	text-decoration: underline;
	background-color: white;
	color: black;
}


/* Carousel */
.uala-carousel {
	margin-top: 3.438em;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
	height: calc(100vh - 55px);
	width: 100vw;
}

/* Products */
.product-list {
	margin: 1em 0;
}

.product-info {
	display: none;
	width: 300px;
	height: 300px;
} 
.product {
	text-align: center;
	margin: 1em 0;
}

.product:hover img {
	display: none;
}
.product:hover .product-info{
	display: inline-block;
}