@font-face {
    font-family: 'nixieone';
    src: url("../fonts/nixieoneV2.ttf") format("truetype"),
    		 url('../fonts/nixieoneV2.woff2') format('woff2'),
         url('../fonts/nixieoneV2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'typew';
    src: url("../fonts/TravelingTypewriter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*/


body {
	font-size: 16px;
	line-height: 16px;
	position: relative;
	font-family: 'nixieone', cursive;
	font-weight: bold;
	height: 100%;
	min-height: calc(100vh - 4.375em);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.main {
	    min-height: calc(100vh - 8.25em);
    height: 100%;
	margin-top: 4.375em;
	/*margin-bottom: 3.875em;*/
}

.center {
	text-align: center;
}

/* Menu */
.navbar {
	border-radius: 0;	
  border-bottom: 1px solid #888;
}
.navbar-default {
	height: auto;
	margin-bottom: 0;
	background-color: white;
	border: 0;
	border-bottom: 1px solid #888;
}

.navbar-brand {
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-brand>img {
	height: 70px;
	width: auto;
}

.navbar-toggle {
	margin-top: 1.1em;
	margin-bottom: 1.1em;
}

.navbar-default .navbar-nav>li>a {
	line-height: 2.5em;
	font-size: 1em;
	color: #333;
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	text-decoration: underline;
	background-color: white;
	color: #333;
}

/* Carousel */
.uala-carousel {
	margin-top: 4.375em;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
	height: calc(100vh - 55px);
	width: 100vw;
}

/* Products */
.product-list {
	margin: 1em 0;
}

.product-info {
	display: none;
	width: 300px;
	height: auto;
	position: absolute;
	top: 25%;
	left: 0;
} 
.product {
	text-align: center;
	margin: 1em 0;
}

.content-product {
	position: relative;
	width: 300px;
	margin: 0 auto;
	cursor: pointer;
}

.product img:hover {
	/*display: none;*/
	opacity: 0.4;
	cursor: pointer;
}
.product img:hover + .product-info{
	display: inline-block;
	cursor: pointer;
}

/* Footer */
.footer {
	font-size: 0.85em;
  float: left;
  width: 100%;
  padding: 1em 0;
  background: #ddd;
  border-top: 1px solid #888;
	font-weight: bold;
	position: absolute;
  bottom: 0;

  display: block;
    position: relative;
    clear: both;
}
.footer-brand p{
	margin: 0;
	line-height: 1.875em;
}
.footer-legal {
	text-align: right;
}
.footer-legal .content-legal a {
	color: #333;
	line-height: 1.875em;
}
.footer-legal .content-legal .faq:after {
  content: "|";
  position: relative;
  margin-left: 1em;
  top: -1px;
}
.footer-legal .content-legal .term-legal {
	margin: 0 0.5em;
}
.footer-legal .content-legal .faq:hover {
	text-decoration: none;
}
.footer-legal .content-legal .term-legal:hover {
	text-decoration: none;
}
.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.social li {
	margin: 0 0.5em 0 0;
	padding: 0;
	float: left;
	text-align: center;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1) rotate(360deg);
	-webkit-transform: scale(1) rotate(360deg);
	-moz-transform: scale(1) rotate(360deg);
	-ms-transform: scale(1) rotate(360deg);
	-o-transform: scale(1) rotate(360deg);
}
.footer-social {
	text-align: center;
}
.social .facebook {
	background: url('../images/icons/facebook2.svg');
	background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	height: 30px;
	line-height: 30px;
	width: 30px;
	float: left;
}
.social .twitter {
	background: url('../images/icons/twitter.svg');
	background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	height: 30px;
	line-height: 30px;
	width: 30px;
	float: left;
}
.social .google-plus {
	background: url('../images/icons/google.svg');
	background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	height: 30px;
	line-height: 30px;
	width: 30px;
	float: left;
}
.social .pinterest {
	background: url('../images/icons/pinterest.svg');
	background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	height: 30px;
	line-height: 30px;
	width: 30px;
	float: left;
}
.social .instagram {
	background: url('../images/icons/instagram2.svg');
	background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	height: 30px;
	line-height: 30px;
	width: 30px;
	float: left;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}


/*Estilos Base*/
.contenedor-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
}
    .contenedor-img .cover,.contenedor-img .contenido {
        width: 300px;
        height: 300px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
    }
    .contenedor-img img {
        display: block;
        position: relative;
       
    }
    .contenedor-img h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.9);
        margin: 20px 0 0 0
    }
    .contenedor-img p {    
        font-size: 12px;
        position: relative;
        color: #333;
        padding: 10px 20px 10px;
        text-align: center
        font-weight: bold;
    }
    .contenedor-img a.link {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #222;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000
    }
        .contenedor-img a.link:hover {
            box-shadow: 0 0 5px #000
        }


/*Ejemplo 1*/
.content-product img {
transition: all 0.2s linear;
}
.content-product .cover {
opacity: 0;
background-color: rgba(204,204,204, 0.7);
transition: all 0.3s ease-in-out;
}
.content-product h2 {
transform: translateX(-300px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.content-product p {
transform: translateX(300px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.content-product a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(150px)/*Desplazamos para abajo*/
}
.content-product:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.content-product:hover .cover {
opacity: 1;
}
.content-product:hover h2,
.content-product:hover p,
.content-product:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.content-product:hover p {
transition-delay: 0.1s;
}
.content-product:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
transform: translateY(0px);
}

/* About us */

.about-us {
	font-size : 1.2em;
	line-height: 1.5em;
}


.wrap {
	margin: 3.125em 0;
	background-color: #EFD1C6;
	border: 1px solid #888;
	display: inline-block;
	width: 100%;
	height: auto;
}

.about-us .primary-content {
	padding: 0 1em;
	height: 70vh;
	display: table;
}

.about-us .primary-content .content {
	display: table-cell;
	vertical-align: middle;
}

.about-us .primary-content span {
	font-style: italic;
}

.about-us .primary-content::after {
	content: '';
	display: block;
	width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 14px solid #EFD1C6;
  background: transparent;
  margin-right: -14px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 99;
}
.about-us .secondary-content {
	padding: 0;
	height: 70vh;
}

.about-us .secondary-content div {
	width: 100%;
	height: 70vh;
	background-image: url('../images/hola.JPG');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Shop */
.virtual-shop {
	font-weight: bold !important;
}

.ecwid-productBrowser-subcategories-mainTable {
	display: none !important;
}

.ecwid {
	text-align: right !important;
}

.horizontal-menu {
	float: left !important;
	border: 0 !important;
}

.ecwid-results-topPanel-controlsPanel {
	float: left !important;
}

.ecwid-results-topPanel-viewAsPanel {
	display: none !important;
}

.horizontal-menu-item {
	margin-right: 1em !important;
}

.horizontal-menu-item a {
	border: 1px solid #333 !important;
}

.horizontal-menu-item span {
	color: #333 !important;
	font-weight: bold !important;
}

.horizontal-menu-item--hover>a {
	background: #333 !important;
}

.horizontal-menu-item--hover span{
	color: #fff !important;
	font-weight: normal !important;
}

.gwt-Label {
	font-size: 1.455em !important;
	font-weight: bold !important;
}

.gwt-ListBox {
	font-size: 1.455em !important;
	font-weight: bold !important;
}

.ecwid-productBrowser-productNameLink a {
	font-weight: bold !important;
}

.ecwid-productBrowser-price-value {
	font-weight: bold !important;
}

.horizontal-menu--desktop {
	display: block !important;
}

.horizontal-mobile {
	display: none !important;
}

.ecwid-productBrowser-cart-hint {
	font-weight: bold !important;
	color: #333 !important;
	font-size: 0.9em !important;
}

.ecwid-btn--primary {
	color: #333 !important;
	background: #fff !important;
	border: 1px solid #333 !important;
	font-size: 0.9em !important;
	font-weight: bold !important;
}

.ecwid-btn--primary:hover {
	background: #333 !important;
	color: #fff !important;
	font-weight: normal !important;
}

.ecwid-btn--secondary {
	color: #333 !important;
	font-size: 0.9em !important;
	font-weight: bold !important;
	border: 1px solid #333 !important;
}

.ecwid-btn--secondary:hover {
	background: #333 !important;
	color: #fff !important;
	font-weight: normal !important;
}

.ecwid-poweredBy {
	display: none !important;
}

.ecwid-productBrowser-head {
	font-weight: bold !important;
}

.ecwid-productBrowser-categoryPath-categoryLink a {
	font-weight: bold !important;
	color: #333 !important;
}

.first-slide {
	background-image: url('../images/pano1.jpg');
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: calc(100vh - 70px);
}
.second-slide {
	background-image: url('../images/pano2.jpg');
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: calc(100vh - 70px);
}
.third-slide {
	background-image: url('../images/pano3.jpg');
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: calc(100vh - 70px);
}

.contact .wrap {
	background-color: transparent;
	border: 0;
}

.contact .first-element {
	text-align: center;
}

.contact .first-element img {
	width: 180px;
}

.contact .second-element p {
	line-height: 1.5em;
	margin-bottom: 2em;
}

.contact .second-element textarea.form-control {
	height: 90px;
	resize: none;
}

.contact .btn-default {
	color: #333;
	background: #fff;
	border: 1px solid #333;
	font-size: 0.9em;
	font-weight: bold;
}
.contact .btn-default:hover {
	background: #333;
	color: #fff;
	font-weight: normal;
}

.contact .error {
	color: #ff0000;
	font-size: 0.75em;
	margin-top: 0.75em;
}

.contact input.error {
	color: #333;
}
.contact .datos {
	font-size: 0.7em;
}

.contact .datos-check {
	margin: 0;
}

.contact .datos-check.error:focus {
	outline-color: red;
}

.contact .text-check {
	font-size: 0.7em;
	color: black;
	vertical-align: top;
}

#contact_datos-error {
	display: none !important;
}

.contact .btn {
	margin-top: 1em;
}

/* FAQ */

.box h4 {
	text-align:center;
	color: #333;
	font-weight: bold;
	top:1em;
	display: inline-block;
	clear: both;
	width: 100%;
}

.box p {
	text-align:center;
	color: #333;
	font-weight: bold;
	margin: 1em 0;
	display: inline-block;
	clear: both;
	width: 100%;
	line-height: 1.3em;
}

.box {
	width: 90%;
	height: 200px;
	background:#ddd;
	border: 1px solid #888;
	margin: 3em auto;
	padding: 1em;
	display: table;
}

.box-container {
	display: table-cell;
	height: 200px;
	vertical-align: middle;
}

.question .box {
	background: #EFD1C6;
}
.shadow
{
position:relative;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
content:"";
position:absolute;
z-index:-1;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
box-shadow:0 0 20px rgba(0,0,0,0.8);
top:0;
bottom:0;
left:10px;
right:10px;
-moz-border-radius:100px / 10px;
border-radius:100px / 10px;
}
.shadow:after
{
right:10px;
left:auto;
-webkit-transform:skew(8deg) rotate(3deg);
-moz-transform:skew(8deg) rotate(3deg);
-ms-transform:skew(8deg) rotate(3deg);
-o-transform:skew(8deg) rotate(3deg);
transform:skew(8deg) rotate(3deg);
}

.legal-text {
	margin: 2em 0;
	line-height: 1.3em;
}

@media (max-width: 991px) {
	.about-us .primary-content::after {
		content: '';
		display: block;
	  border-right: 12px solid transparent;
	  border-left: 12px solid transparent;
	  border-top: 14px solid #EFD1C6;
	  background: transparent;
	  margin-right: 0;
	  margin-top: 0;
	  top: 100%;
	  left: calc(50% - 12px);
	}
	.about-us .primary-content {
		padding: 0 2em;
		text-align: center;
	}
	.contact .first-element img {
		display: none;
	}
}

@media (max-width: 767px) {
	.footer-brand {
		text-align: center;
		margin: 0.5em 0;
	}
	.footer-social {
		text-align: center;
		margin: 0.5em 0;
	}
	.footer-legal {
		text-align: center;
		margin: 0.5em 0;
	}
	.ecwid {
		text-align: center !important;
	}

	.navbar-nav {
	margin: 0 -15px;
	}
	.nav li {
		border-bottom: 1px solid #888;
	}
	.nav.navbar-right li {
		border-bottom: 0;
	}
	.navbar-toggle {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}

	.navbar-toggle .icon-bar {
		display: block;
		width: 30px;
		height: 2px;
		border-radius: 0px;
		margin: 6px 0;
	}
	.navbar-default .navbar-toggle {
		border: 0;
	}
	.navbar-default .navbar-toggle:hover {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:focus {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #333;
	}
}

@media (max-width: 479px) {
	.about-us .primary-content {
		height: 50vh;
		font-size: 0.75em;
		padding: 2em;
		text-align: left;
	}

	.about-us .secondary-content {
		padding: 0;
		height: 50vh;
	}
	.about-us .secondary-content div {
		height: 50vh;
	}

	.contenedor-img {
    width: 260px;
    height: 260px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
	}

	.contenedor-img img {
		width: 100%;
	}

  .contenedor-img .cover,.contenedor-img .contenido {
    width: 260px;
    height: 260px;
  }
}